@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: linear-gradient(90deg, rgba(213,255,234,1) 0%, rgba(255,215,215,1) 50%, rgba(255,255,210,1) 100%);
  /* --foreground: #171717; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(90deg, rgba(213,255,234,1) 0%, rgba(255,215,215,1) 50%, rgba(255,255,210,1) 100%);
    /* --foreground: #ededed; */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.spin-table {
  color: red;
}
